html {
}

body {

}


h1 {
  font-family: verdana;
  font-size: 40pt;
  letter-spacing: 4px;
  color: #DDDDDD;
  text-shadow: 2px 2px #EEEEEE;
  margin-bottom: -20px;
}

h2 {
  font-weight: lighter;
  font-family: serif;
  font-size: 15pt;
  text-transform: lowercase;
  color: #AAAAAA;
  margin-bottom: -5px;
}

li {
  list-style-type: none;
    cursor: pointer;
    color: #333333;
  font-size: 15px;    
}
 li:hover {
  cursor: pointer;
  color: #bbbbbb;
  margin-left: 2px;

}

 li:active {
  cursor: pointer;
  color: #AAAAAA;
  margin-left: 2px;
}

.levels {
  font-family: georgia;
  text-transform: uppercase;
}

.right {
   color: #555555;
   font-family: verdana;
   font-size: 10pt;
   left: 580px;
   position:fixed;
   height: 410px;
   width: 400px;

}

canvas {
  margin-left: 40px;
  letter-spacing: auto;
  position: fixed;
  left:10px;
  border-style: solid;
  border-width: 5px;
  border-color: #333333;
}

.dropbtn {

    width: 40px;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #336688;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  text-align: center;
  padding: 5px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 30px;
    overflow: scroll;
    height: 350px;
}

::-webkit-scrollbar { 
    display: none; 
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
