html {
}

body {

}


h1 {
  font-family: verdana;
  font-size: 40pt;
  text-transform: lowercase;
  letter-spacing: 4px;
  color: #DDDDDD;
  text-shadow: 2px 2px #EEEEEE;
  margin-bottom: -20px;
}

h2 {
  font-family: verdana;
  font-size: 15pt;
  text-transform: lowercase;
  color: #AAAAAA;
  margin-bottom: -5px;
}

.navbar {
  display:block;
}


ul {
    display:block;
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    width: 40px;
    background-color: #333333;
    position: fixed;
    height: 410px;
    overflow: auto;
}

li {
    
}

.navbar a {
  text-decoration: none;
  color: #ff0000;
}

.levels {
  font-family: courier;
  font-size: 20pt;
  text-transform: uppercase;
  color: #ffffff;
}

.right {
   color: #555555;
   font-family: verdana;
   font-size: 15pt;
   left: 600px;
   position:fixed;
   height: 410px;
   width: 400px;

}


canvas {
  margin-left: 45px;
  letter-spacing: -2px;
  position: fixed;
  left:10px;
  border-style: solid;
  border-width: 5px;
  border-color: #333333;
}
