html {
}

body {

}


h1 {
  font-family: sans-serif;
  font-size: 13 pt;
  color: #617799;
}

h2 {
	font-family: georgia;
    font-size: 9 pt;
    color: #33AA99;
}


canvas {
	position: fixed;
	left:10px;
	border-style: solid;
	border-width: 15px;
	border-color: #333333;
}
